@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
body {
  margin: 0;
  background-image: url(bg.jpg);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  backdrop-filter: blur(4px);
}

.container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  text-align: center;
  padding: 50px;
  width: 800x;
  margin: 5px;
  font-weight: bold;
}

table{
    width: 700px;
    color: white;
}